@model EventCalendarManager.Models.User

@{
    ViewData["Title"] = "CreateEvent";
}

<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/bootstrap.js"></script>
<script src="~/js/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br /><br />

<body style="background-color:lightgray">
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"><i class="fa fa-address-card" style="font-size:20px;color:gray"></i>  Manager</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                Hello,  @Html.ValueFor(model => model.FirstName)   <i class="fa fa-user-secret" style="font-size:20px;color:gray"></i>
                            </a>
                        </li>
                        <li>
                            <a href="~/Users/Login">
                                Sign Out   <i class="fa fa-close" style="font-size:20px;color:gray"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>


<script src="~/js/daypilot/daypilot-all.min.js" asp-append-version="true"></script>
<link href="icons/style.css" rel="stylesheet" type="text/css">

<div class="main">
    <div style="float:left;">
        <div id="nav"></div>
    </div>
    <div style="margin-left: 200px;">

        <p>
            <a asp-action="CreateNewEvent/@Model.Id"><h3>Create New Event</h3></a>
        </p>

        <br />

        <h2>Upcoming events:</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Event name:
                    </th>
                    <th>
                        Event date:
                    </th>
                    <th>
                        Days till event:
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Events.OrderBy(e => e.Date))
                {
                    if (item.Date >= DateTime.Now)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Date.ToShortDateString()
                            </td>
                            <td>
                                @(Math.Abs((DateTime.Now - item.Date).Days) + 1) days
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <br /><br />
        <h2>Finished events:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Event name:
                    </th>
                    <th>
                        Event date:
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Events.OrderByDescending(e => e.Date))
                {
                    if (item.Date < DateTime.Now)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Date.ToShortDateString()
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    var nav = new DayPilot.Navigator("nav");
    nav.showMonths = 3;
    nav.skipMonths = 3;
    nav.selectMode = "month";
    nav.onTimeRangeSelected = function (args) {
        dp.startDate = args.day;
        dp.update();
        dp.events.load("/api/events");
    };
    nav.init();


    var dp = new DayPilot.Month("dp");

    dp.contextMenu = new DayPilot.Menu({
        items: [
            {
                text: "Delete",
                onClick: function (args) {
                    var e = args.source;
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/events/' + e.id(),
                        success: function (data) {
                            dp.events.remove(e);
                            dp.message("Event deleted");
                        },
                        contentType: "application/json",
                        dataType: 'json'
                    });
                }
            },
            {
                text: "-"
            },
            {
                text: "Blue",
                icon: "icon icon-blue",
                color: "#a2c4c9",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Green",
                icon: "icon icon-green",
                color: "#b6d7a8",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Yellow",
                icon: "icon icon-yellow",
                color: "#ffe599",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Red",
                icon: "icon icon-red",
                color: "#ea9999",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Auto",
                color: "auto",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
        ]
    });
    dp.init();

    dp.events.load("/api/events");


    function updateColor(e, color) {
        var params = {
            color: color
        };
        $.ajax({
            type: 'PUT',
            url: '/api/events/' + e.id() + '/color',
            data: JSON.stringify(params),
            success: function (data) {
                e.data.color = color;
                dp.events.update(e);
                dp.message("Color updated");
            },
            contentType: "application/json",
            dataType: 'json'
        });
    }

    $(document).ready(function () {

        $("#previous").click(function () {
            nav.select(nav.selectionDay.addMonths(-1));
        });

        $("#today").click(function () {
            nav.select(DayPilot.Date.today());
        });

        $("#next").click(function () {
            nav.select(nav.selectionDay.addMonths(1));
        });

    });

</script>
